bidsmreye.egg-info/
bidsmreye/
outputs
tests/data

**/__pycache__
**/.venv
**/env/
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vscode
**/docker-compose*
**/compose*
**/Dockerfile*
build/
.eggs/
