[flake8]
count = True
show-source = True
statistics = True
exclude =
    *build
    .git
    __pycache__
    tests/*
    _version.py
ignore = D100, D103, W503
max-line-length = 90
max_complexity = 15
max_function_length = 150
max_parameters_amount = 15
max_returns_amount = 5
