[importlinter]
root_package = bidsmreye

[importlinter:contract:1]
name=Layered architecture
type=layers
containers =
    bidsmreye
layers=
    bidsmreye
    prepare_data | generalize | download
    quality_control
    visualize
    bids_utils
    methods
    utils
    configuration
    logging
    defaults
    _version
exhaustive = true
