# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: "v4.3.0"
      hooks:
          - id: trailing-whitespace
          - id: check-yaml
          - id: end-of-file-fixer
          - id: check-json

    - repo: https://github.com/psf/black
      rev: "22.6.0"
      hooks:
          - id: black

    -   repo: https://github.com/pycqa/flake8
        rev: "4.0.1"
        hooks:
        -   id: flake8
            exclude: tests


    - repo: https://github.com/ikamensh/flynt/
      rev: "0.76"
      hooks:
          - id: flynt

    - repo: https://github.com/asottile/reorder_python_imports
      rev: "v3.8.1"
      hooks:
          - id: reorder-python-imports

    # -   repo: https://github.com/pre-commit/mirrors-mypy
        # rev: 'v0.971'
        # hooks:
        # -   id: mypy
