---
version: 2.1

jobs:
    build:
        machine:
            image: ubuntu-2204:2022.10.2
        steps:
        -   checkout

        -   run:
                name: Build Docker image
                command: |
                    wget https://raw.githubusercontent.com/bids-apps/maintenance-tools/main/circleci/build_docker.sh
                    bash build_docker.sh

        -   persist_to_workspace:
                root: /home/circleci
                paths:
                -   docker/image.tar

    get_data:
        machine:
            image: ubuntu-2204:2022.10.2
        steps:
        -   checkout
        -   run:
                name: Install dependencies
                command: |
                    sudo apt-get update
                    sudo apt-get install -y git-annex
                    python -m pip install --upgrade pip setuptools
                    pip install datalad
        -   restore_cache:
                keys:
                -   my_cache
        -   run:
                name: Get ds002799
                command: |
                    # Git set up: to keep datalad warnings away
                    git config --global --add user.name "Ford Escort"
                    git config --global --add user.email 42@H2G2.com
                    mkdir -p ${HOME}/data/
                    datalad install -s ///openneuro/ds002799 ${HOME}/data/ds002799
                    cd ${HOME}/data/ds002799/derivatives/fmriprep
                    datalad get sub-30[27]/ses-*/func/*run-*MNI152NLin2009cAsym*preproc*bold*
                    datalad unlock sub-30[27]/ses-*/func/*run-*MNI152NLin2009cAsym*preproc*bold*
        -   save_cache:
                key: my_cache
                paths:
                -   ~/data
        -   persist_to_workspace:
                root: /home/circleci
                paths:
                -   data/ds002799


    test:
        machine:
            image: ubuntu-2204:2022.10.2
        steps:
        -   attach_workspace:
                at: /tmp/workspace
        -   run: docker load -i /tmp/workspace/docker/image.tar

        -   run: mkdir -p ${HOME}/outputs
        -   run:
                name: print version
                command: |
                    docker run -ti --rm \
                      -v /tmp/workspace/data/ds002799/derivatives/fmriprep:/bids_dataset \
                        cpp-lln-lab/bidsmreye --version
        -   run:
                name: run all
                command: |
                    docker run -ti --rm \
                      -v /tmp/workspace/data/ds002799/derivatives/fmriprep:/bids_dataset \
                      -v ${HOME}/outputs:/outputs \
                        cpp-lln-lab/bidsmreye \
                          /bids_dataset \
                          /outputs \
                          participant \
                          --participant_label 302 307 \
                          --space MNI152NLin2009cAsym \
                          --action all
                no_output_timeout: 6h
        -   store_artifacts:
                path: ~/output

    deploy:
        machine:
            image: ubuntu-2204:2022.10.2
        steps:
        -   attach_workspace:
                at: /tmp/workspace

        -   run: docker load -i /tmp/workspace/docker/image.tar
        -   run:
                name: push to dockerhub
                command: |
                    wget https://raw.githubusercontent.com/bids-apps/maintenance-tools/main/circleci/push_docker.sh
                    bash push_docker.sh

workflows:
    build-test-deploy:
        jobs:
        -   build

        -   get_data
        -   test:
                requires:
                -   build
                -   get_data

        -   deploy:
                requires:
                -   test
                filters:
                    tags:
                        only: /.*/



# VS Code Extension Version: 1.5.1
