## eyemotion decoding

Results included in this manuscript come from preprocessing performed using *bidsMReye* {{version}},
a BIDS app relying on [deepMReye](https://github.com/DeepMReye/DeepMReye) (@deepmreye)
to decode eye motion for fMRI time series data.

### data extraction

### eyemotion decoding
