---
name: Packaging

on:
    push:
        branches:
        -   main
        tags:
        -   '*'

jobs:
    package:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v4
            with:
                submodules: recursive
                fetch-depth: 0
        -   name: Set up Python
            uses: actions/setup-python@v6
            with:
                python-version: 3.11
        -   name: Display Python version
            run: python -c "import sys; print(sys.version)"
        -   name: Install build
            run: python -m pip install build
        -   name: Build sdist and wheel
            run: python -m build
        -   name: Upload to PyPI (on tags)
            if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
            uses: pypa/gh-action-pypi-publish@release/v1
            with:
                user: __token__
                password: ${{ secrets.PYPI_API_TOKEN }}
