---
name: System tests

on:
    push:
        branches: [main]
    pull_request:
        branches: ['*']

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    system_test:

        runs-on: ubuntu-latest

        strategy:
            matrix:
                python-version: ['3.12']
                dataset: [demo]

        steps:

        -   name: Clone repo
            uses: actions/checkout@v4

        -   name: Set up Python ${{ matrix.python-version }}
            uses: actions/setup-python@v4
            with:
                python-version: ${{ matrix.python-version }}
                allow-prereleases: true

        -   name: Install dependencies
            run: |
                sudo apt-get update -y
                sudo apt-get install -y git-annex
                python -m pip install --upgrade pip setuptools
                pip install datalad

        -   name: Install bidsmreye
            run: |
                pip install .

        -   name: Datalad WTF
            run: |
                datalad wtf

        -   name: Run ${{ matrix.dataset }}
            run: make ${{ matrix.dataset }}
