---
name: System tests

on:
    push:
        branches: [main]
    pull_request:
        branches: ['*']

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

# Force to use color
env:
    FORCE_COLOR: true

jobs:
    system_test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ['3.11']
                cmd: [demo, demo_boutiques]
            fail-fast: false
        steps:
        -   name: Clone repo
            uses: actions/checkout@v5
        -   name: Set up Python ${{ matrix.python-version }}
            uses: actions/setup-python@v6
            with:
                python-version: ${{ matrix.python-version }}
        -   name: Install dependencies
            run: |
                sudo apt-get update -y
                sudo apt-get install -y git-annex
                python -m pip install --upgrade pip setuptools
                pip install datalad boutiques
        -   name: Install bidsmreye
            run: |
                pip install .
        -   name: Datalad WTF
            run: |
                datalad wtf
        -   name: Run ${{ matrix.cmd }}
            run: make ${{ matrix.cmd }}
        -   name: Re run demo (should be faster)
            run: |
                make prepare
                make generalize
