---
name: Test and coverage

on:
    push:
        branches: [main]
    pull_request:
        branches: ['*']

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    test_and_coverage:

        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macOS-latest] # windows-latest: do not work. antspyx is not available for windows
                python-version: ['3.9', '3.10', '3.11']
            fail-fast: false

        steps:

        -   name: Clone repo
            uses: actions/checkout@v6

        -   name: Set up Python ${{ matrix.python-version }}
            uses: actions/setup-python@v6
            with:
                python-version: ${{ matrix.python-version }}

        -   name: Install dependencies
            run: |
                python -m pip install --upgrade pip setuptools
                pip install .[test]

        -   name: Run tests and generate coverage report
            run: pytest --cov bidsmreye --cov-report=xml

        -   name: Upload coverage to Codecov
            uses: codecov/codecov-action@v5
            with:
                file: ./coverage.xml
                flags: tests
                name: codecov-umbrella
                fail_ci_if_error: false
                token: ${{ secrets.CODECOV_TOKEN }}
